body {
    background-image: url("https://thumbs.dreamstime.com/z/fondo-militar-del-camo-pixel-contexto-com%C3%BAn-vector-para-su-dise%C3%B1o-146067928.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}